{% load static%}
@import "root.css";
* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    text-align: center;
}
body{
    background-image: url(../img/loja3.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}
#topo {
    width: 40%;
    height:10%;
    background-color:#FFDE59;
    position: relative;
    top: 10%;
    left: 55%;
    border-radius:15px 15px  0   0 ;
}
#listra{
    background-color: rgba(30, 94, 139, 0.73);
    height: 70%;
    width: 40%;
    position: relative;
    top: 10%;
    left: 55%;
    border-radius: 0   0 15px 15px ;
}

form label {
    color:var(--amarelo-tema);
}
.containerForm{
    width: 100%;
    height: 80%;
}
form input,option,select {
    color: var(--amarelo-tema);
    outline: none;
    border: none;
    border-bottom: 2px solid #FFDE59;
    background: none;
    height: 30px;
    width: 30%;
}
input:focus{
    outline: none;
}
form *{
    margin: 25px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

button {
    position: relative;
    height: 8vh;
    width: 12vw;
    border-radius: 15px;
    border: 2px solid #FFDE59;
    color:#FFDE59;
    background-color: #1E5E8B;
    font-size: 20px;
    bottom: 50%;
}
h1{
    position: absolute;
    left: 40%;
    top: 19%;
    color: #1E5E8B;
}
.cabeca{
    background-color: var(--azul-tema);
    align-items: center;
    box-shadow: inset 0 -2px 0 0 var(--amarelo-tema);
    display: flex;
    width: 100%;
    height: 10%;
    img{
        margin-left: 5% ;
        margin-right: 5%;
        width: 80px;
        border: 3px solid var(--azul-tema-claro);
        border-radius: 6px;
        cursor: pointer;
    }
    a{
        cursor: pointer;
        transition: 400ms;
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
        width: 8%;
        padding: 10px;
        border-radius: 12px;
    }
    a:hover{
        background-color: var(--azul-tema-escuro);
        color: var(--amarelo-tema);
        scale: 1.05;
    }
    .lgbBtn{
        position: absolute;
        right: 2%;
        color: var(--amarelo-tema);
        width: 100px;
        border: 2px solid var(--amarelo-tema);
    }
}
.peGrande{
    background-color: var(--azul-tema);
    align-items: center;
    width: 100%;
    height: 10%;
    display: flex;
}
.redes{
    text-align: left;
    width: 94%;
    img{
        padding-left: 20px;
        width: 50px;
        cursor: pointer;
    }
}
.nosPe{
    color: white;
    padding-left: 10px;
    width: 6%;
    font-weight: bold;
    text-align: left;
    border-left: 2px solid white;
}

.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  bottom: 90%;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid var(--amarelo-tema);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid var(--azul-tema-escuro);
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: var(--amarelo-tema);
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
